# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# Android
*.apk
*.ap_
*.dex
*.class
bin/
gen/
out/

# Local configuration file
local.properties

# Android Studio
.idea/
*.iml
*.iws
*.ipr

# OS
.DS_Store
Thumbs.db

# Large files
cmdline-tools/
cmdline-tools.zip
*.zip
*.tar.gz
